<!DOCTYPE html>
<html lang="en">
<head>
  <title>HIT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>

  /* Style the tab */
.tab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 1rem;width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
 /* border: 1px solid #ccc;*/
  border-top: none;
  width: 33vw;
  height: 84vh;
  overflow-y: scroll;
}
.line-1{border-bottom: 1.5px solid #ccc;padding: 0.8rem 0;}
.icon-cross, .icon-cross:hover{
      background-color: #f90707;
    padding: 0rem 0.5rem 0.2rem 0.5rem;
    border-radius: 50%;
    color: #fff;
    text-decoration: none; font-weight: 400;
}
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
.do-ocr-align{display: flex;
    justify-content: center;}
.do-ocr{text-decoration: none;}
.do-ocr-float{
  position: absolute;
    bottom: 3rem;
    /*right: 0;*/
    width: 25%; 
    /* box-shadow: 0px 0px 10px #918e8e85; */
  }


  .do-ocr-text-float{
  position: absolute;
    bottom: 7rem;
    /*right: 0;*/
    width: 25%; 
    /* box-shadow: 0px 0px 10px #918e8e85; */
  }
    .box-container{
background: #ccc;
    /* display: flex;
    justify-content: center; */
    position: fixed;
    overflow-y: scroll;
    height: 100vh;
    padding: 1rem;
    }
</style>

</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-success text-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">HIT</a>
    <button class="btn btn-primary" type="button">Back</button>
  </div>
</nav>
  
<div class="container-fluid">
  
  <div class="row">
    <div class="col-sm-8 p-3">
      <div class="box-container">
        <div style="height:3000px; width:60vw;">
          <img id="blah"  alt="your image" src="{{ pdf.image.url }}" onload="initCropper();" />
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-0 border">
      
      <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'headers')" id="defaultOpen">Headers</button>
        <button class="tablinks" onclick="openCity(event, 'productlines')">Product Lines</button>
      </div>
 
      <div id="headers" class="tabcontent ">
        <form action="#">

          <div class="row line-1">
            <div class="col-sm-5">
              <select  class="form-control" id="" placeholder="" name="">
                <option>Select Option</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
              </select>
            </div>
            <div class="col-sm-5">
              <div>
                <textarea class="form-control" id="" placeholder="Type..." name=""></textarea>
              </div>
            </div>
            <div class="col-sm-2">
              <div>
                <a href="#"  class="icon-cross">x</a>
              </div>
            </div>
          </div>

          <div class="row line-1">
            <div class="col-sm-5">
              <select  class="form-control" id="" placeholder="" name="">
                <option>Select Option</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
              </select>
            </div>
            <div class="col-sm-5">
              <div>
                <textarea class="form-control" id="" placeholder="Type..." name=""></textarea>
              </div>
            </div>
            <div class="col-sm-2">
              <div>
                <a href="#"  class="icon-cross">x</a>
              </div>
            </div>
          </div>

          <div class="row line-1">
            <div class="col-sm-5">
              <select  class="form-control" id="" placeholder="" name="">
                <option>Select Option</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
              </select>
            </div>
            <div class="col-sm-5">
              <div>
                <textarea class="form-control" id="" placeholder="Type..." name=""></textarea>
              </div>
            </div>
            <div class="col-sm-2">
              <div>
                <a href="#"  class="icon-cross">x</a>
              </div>
            </div>
          </div>

          <div class="row line-1">
            <div class="col-sm-5">
              <select  class="form-control" id="" placeholder="" name="">
                <option>Select Option</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
              </select>
            </div>
            <div class="col-sm-5">
              <div>
                <textarea class="form-control" id="" placeholder="Type..." name=""></textarea>
              </div>
            </div>
            <div class="col-sm-2">
              <div>
                <a href="#"  class="icon-cross">x</a>
              </div>
            </div>
          </div>
          <div class="row line-1">
            <div class="col-sm-5">
              <select  class="form-control" id="" placeholder="" name="">
                <option>Select Option</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
              </select>
            </div>
            <div class="col-sm-5">
              <div>
                <textarea class="form-control" id="" placeholder="Type..." name=""></textarea>
              </div>
            </div>
            <div class="col-sm-2">
              <div>
                <a href="#"  class="icon-cross">x</a>
              </div>
            </div>
          </div>
          <div class="row line-1">
            <div class="col-sm-5">
              <select  class="form-control" id="" placeholder="" name="">
                <option>Select Option</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
              </select>
            </div>
            <div class="col-sm-5">
              <div>
                <textarea class="form-control" id="" placeholder="Type..." name=""></textarea>
              </div>
            </div>
            <div class="col-sm-2">
              <div>
                <a href="#"  class="icon-cross">x</a>
              </div>
            </div>
          </div>
          <div class="row line-1">
            <div class="col-sm-5">
              <select  class="form-control" id="" placeholder="" name="">
                <option>Select Option</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
              </select>
            </div>
            <div class="col-sm-5">
              <div>
                <textarea class="form-control" id="" placeholder="Type..." name=""></textarea>
              </div>
            </div>
            <div class="col-sm-2">
              <div>
                <a href="#"  class="icon-cross">x</a>
              </div>
            </div>
          </div>
          <div style="height:15rem" ></div>
        </form>

        <div class="do-ocr-align ">
          <textarea class="do-ocr-text-float" ></textarea>
              <div class="pb-2 pt-2 bg-success text-center do-ocr-float">
        
              <a class=" do-ocr text-white" href="#">DO OCR</a>
           </div>
      </div>
      </div>

      <div id="productlines" class="tabcontent">
        <form action="#">
          <div class="mb-3 mt-3">
            <input type="text" class="form-control" id="email" placeholder="Name" name="">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="pwd" placeholder="Product Code" name="">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="pwd" placeholder="Quantity" name="">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="pwd" placeholder="Tax" name="">
          </div>
          <div class="text-center mb-3">
             <button type="submit" class="btn btn-success">Add Another Item</button>
          </div>
        </form>
      </div>
      <div class="do-ocr-align ">
        <textarea class="do-ocr-text-float" ></textarea>
            <div class="pb-2 pt-2 bg-success text-center do-ocr-float">
      
            <a class=" do-ocr text-white" href="#">DO OCR</a>
         </div>
    </div>
      

    </div>
  </div>

</div>


</body>

<script type="text/javascript" defer>
  function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
              $('#blah').attr('src', e.target.result)
          };
          reader.readAsDataURL(input.files[0]);
          setTimeout(initCropper, 1000);
      }
  }
  function initCropper(){
      var image = document.getElementById('blah');
      var cropper = new Cropper(image, {
        aspectRatio: NaN,
        crop: function(e) {
          console.log(e.detail.x);
          console.log(e.detail.y);
        }
      });

      // On crop button clicked
      document.getElementById('crop_button').addEventListener('click', function(){
          var imgurl =  cropper.getCroppedCanvas().toDataURL();
          var img = document.createElement("img");
          img.src = imgurl;
          document.getElementById("cropped_result").appendChild(img);

       

              cropper.getCroppedCanvas().toBlob(function (blob) {
                    var formData = new FormData();
                    formData.append("lang","{{ pdf.launguage }}");
                    formData.append('croppedImage', blob,'file.jpg');
                    // Use `jQuery.ajax` method
                    $.ajax('ocr/', {
                      method: "POST",
                      data: formData,
                      processData: false,
                      contentType: false,
                      success: function (result) {
                          const res = document.getElementById("selection");
                          res.innerHTML = res.innerHTML + '<div id="data" class="row gx-2"><div class="col-md-6"><input class="form-control" name="label" aria-describedby="Lav=bel" placeholder="Label"></div><div class="col-md-6"><textarea class="form-control">'+result.response+'</textarea> </div></div>';
                        
                      },
                      error: function () {
                        console.log('Upload error');
                      }
                    });
              },'image/jpg', 0.9);

      })
  }
</script>
</body>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

</html>


